
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div>
    <h1 id= "title">Match Schedules</h1>
  </div>

  <div class="info">
    <%=@baseball.next_game %>.
    <br>
    <a href="http://newyork.yankees.mlb.com/index.jsp?c_id=nyy" target="_blank">NY Yankees Website</a>
  </div>

  <br>
  <br>

  <div class="info">
    <%=@football.nfl_next_game %>.
    <br>
    <a href="http://www.giants.com/" target="_blank">NY Giants Website</a>
  </div>

  <br>
  <br>

  <div class="info">
    <%=@soccer.next_game %>.
    <br>
    <a href="http://www.fcbarcelona.com/" target="_blank">FC Barcelona Website</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  
    <div id="pictures">
      <img src="http://www.csmonitor.com/var/archive/storage/images/media/images/0421-us-sports-yankslogosuit/10000542-1-eng-US/0421-us-sports-yankslogosuit_full_600.jpg">
      <img src="http://content.sportslogos.net/logos/7/166/full/919.gif">
      <img src="http://www.footballpictures.net/data/media/414/FC-Barcelona-Logo-150x150.jpg">
    </div>

  <br>
  <br>
  



  <div >
    <h1 class = "teaminfo">New York Yankees.</h1>
    <p class= "small">Best team in Baseball!</p>
  </div>

  <div>
        <h1 class = "teaminfo">New York Giants.</h1>
        <p class= "small">Best team in Football!</p>
  </div> 
  

  <div >
        <h1 class = "teaminfo">FC Barcelona.</h1>
        <p class= "small">Best club in Soccer!</p>
  </div>
</body>
